@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --violet: #6600CC;
    --tengerine: #FFCC00;
    --guardsmanred: #CC0000;
}
section{
    padding: 0 20px;
    margin: 150px 0;
}



.violet{
    color: var(--violet);
}
.violetbg{
    background-color: transparent;
}
body{
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    border-bottom: 2px solid transparent;
    padding: 4px;
}

a:hover{
    border-bottom: 2px solid var(--violet);
    transition: .5s ease-in;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    padding: 0 20px;

}

nav .logo{
    font-size: 3rem;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.6);
}

.navLink{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.navLink li{
    list-style: none;
}

/* hamburger design start*/

.burger > div{
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
    transition: transform .3s ease-in ;
}
.burger{
    display: none;
}

/* hero section design start */
#hero{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: space-around;
    row-gap: 40px;
    margin-top: 12px;
}

#hero img{
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

 #hero .content p{
    margin-bottom: 2rem;
    color: var(--violet);
    font-weight: 600;
}
h1{
    margin-bottom: 2rem;
    font-weight: 800;
    font-size: 3.4rem;
}

.heroBtn{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;

}

#hero .btn1{
    padding: .5rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    background-color: var(--violet);
    color: white;
    font-size: .8rem;
    border: none;
}
#hero .btn2{
    padding: .5rem 2rem;
    border-radius: .8rem;
    border: 1px solid white;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    background-color: transparent;
    color: white;
    font-size: .8rem;
    
} 
/* hero section design end */

/* About styling starts */
#about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    
}

#about button{
    padding: .8rem 1.5rem;
    border-radius: .8rem;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    background-color: var(--violet);
    color: white;
    font-size: .8rem;
    border: none;
}

#about h1{

    font-weight: 800;
    font-size: 3.4rem;
}

#about img{
    height: auto;
    width: 270px;
}



.about-content p{
    margin-bottom: 1rem;
}


.about-dtls b{
    width: 110px;
}


/* About styling ends */

/* Service styling starts */
.container{
    margin: 80px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:25px;
}
.cards{
    background-color: rgba(46, 43, 43, 0.2);
    text-align: center;
    padding: 40px;

}
.cards img{
    height: 110px;
}
.cards p{
    font-size: 1.8rem;
}

.cards div{
    width: 60px;
    height: 5px;
    background-color: #6600CC;
    text-align: center;
    position: relative;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    
}
/* Service styling ends */

/* Skill Section */

.skill-wrapper .progress-container .progress-bar{
    position: relative;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(47, 0, 255, 0.24) 0px 3px 8px;
}

.progress-bar span{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 30px;
    text-align: center; 
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.7;
    background-color: var(--violet);
    
}

#skills .skill-wrapper{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    gap: 25px;
   margin: auto 100px;

}

/* skill section ends */

/* Project section starts*/

.vnics{
    position: relative;
}

.project-wrapper .project{
  text-align: center;
  height:auto;
  
}

.project-wrapper .project img{
    width: 80%;
    height: 150px;
    object-fit: cover;

    
}
.project-wrapper .project img:hover{
    transform: rotate(10deg) scale(110%);
    transition: .2s ease-in;
}



.project-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.toast-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    margin: auto auto;
    gap: 50px;
    background-color: white;
    padding: 20px 20px;
    height: auto;
    width: auto;
 
}
.toast-wrapper p{
    color: var(--violet);
    font-size: 1.1rem;
}

.toast-wrapper img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    

}

/* Project section ends*/

/* contact styling starts */
.contacts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 40px;
    padding-top: 50px;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.contact i{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--violet);
 
}
.contact a{
    color: white;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    padding: 0;
    font-style: italic;
}
.contact p{
    font-size: 1rem;
    font-style: italic;
}

form{
    margin: 50px 200px;
}
form input, textarea{
    width: 100%;
    padding: 15px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    background: transparent;
    color: white;
    border: 1px solid white;
    letter-spacing: 10px;
}

form button{
    text-align: center;
    background-color: rgb(102, 0, 204);
    color: white;
    width: 100%;
    padding: 15px;
    margin: auto;
    font-size: 1rem;
    letter-spacing: 8px;
    font-weight: 600;
    border: 0;
    outline: none;
    cursor: pointer;
}

/* contact styling ends */

footer{
    text-align: center;
    color: white;
    padding: 20px;
    background-color: black;
}

@media screen and (max-width:1284px){
    #skills .skill-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

    }
}

@media screen and (max-width:1248px){
    .skill-wrapper .progress-container .progress-bar{
        width: 100%;
    }
}


@media screen and (max-width:1128px){
    .navLink{
        width: 70%;
    }
    

}





@media screen and (max-width:928px){

     .navLink{
        flex-direction: column;
        background-color: rgb(0, 0, 0);
        position: absolute;
        top: 13vh;
        left:0;
        right: 0;
        width: 100%;
        text-align: center;
        height: 80vh;
        transform: translateY(-120%);
        transition: transform .5s ease-in ;
        z-index: 999;
    } 


   .active{
        transform: translateY(0)
   }
   .burger{
    display: block;
    }
    .change .line1{
        transform: rotate(45deg) translate(5px, 5px);
    }
    .change .line2{
        opacity: 0;
    }
    .change .line3{
        transform: rotate(-45deg) translate(4px, -5px);
    }

    h1{
        margin-bottom: 1.8rem;
        font-weight: 700;
        font-size: 3rem;
    }
}

@media screen and (max-width:840px){
    form{
        margin: auto;
        padding: auto;
    }
    section{
        padding: 0 30px;
        margin: 100px 0;
    }
    

}

@media screen and (max-width:559px){
    #about img{
        display: none;
    }
}

@media screen and (max-width:554px){
    #skills .skill-wrapper{
        margin: auto;
        padding: auto;


    }
    h1{
        margin-bottom: 1.5rem;
        font-weight: 600;
        font-size: 2.9rem;
    }
}

@media screen and (max-width:430px){
    section{
        padding: 0 20px;
        margin: 80px 0;
    }
    .skill-wrapper .progress-container{ 
        padding: 10px 40px;
    }

}

@media screen and (max-width:386px){
   section{
    padding: 0px 20px;
   }
    
   h1{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    }
    p{
        font-size: .9rem;
    }
  
}
@media screen and (max-width:292px){
    section{
     padding: 15px 20px;
    }
    h1{
        font-size: 1.3rem;
    }
     
   
 }